body{

    background-color: black;

}

#nome{
    font-style: italic;
    color: darkgray;
    text-align: center;
}

#suplemento{

    font-style: italic;
    color: rgb(128, 119, 119);
    text-align: center;
}