body{

    background-color: black;
    font-family: 'Roboto', sans-serif;

}

#nome{
    font-style: italic;
    color: darkgray;
    text-align: center;
}

#suplemento{

    font-style: italic;
    color: rgb(128, 119, 119);
    text-align: center;
}

IMG.imagens {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    border-radius: 10%;
}